@media only screen and (max-width: 767px) {
  .searchBar {
    max-width: 100%;

    .suggestion-result {
      max-width: 100%;
    }

    #setting-content {
      max-width: 368px;
      padding: 5px 10px;
      top: calc(50% - 138px);
      left: calc(50% - 194px);
    }
  }
}
